<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All Sensors</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div class="container mt-5">
  <h2>Registered Sensors</h2>
  <br>
  <a href="/sensors/add" class="btn btn-outline-light btn-lg">Add Sensor</a>
  <br><br>
  <table class="table table-sm table-info">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Sensor Name</th>
      <th scope="col">Sensor Type</th>
      <th scope="col">Sensor Pin</th>
      <th scope="col">Sensor Location</th>
      <th scope="col">Sensor Status</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sensor, iterStat : ${sensors}">
      <th scope="row" th:text="${iterStat.index + 1}"></th>
      <td th:text="${sensor.sensorName}"></td>
      <td th:text="${sensor.sensorType}"></td>
      <td th:text="${sensor.sensorPin}"></td>
      <td th:text="${sensor.sensorLocation}"></td>
      <td th:text="${sensor.sensorStatus}"></td><td>
      <a th:href="@{|/sensors/edit/${sensor.sensorID}|}" class="btn btn-primary btn-sm">Edit</a>
      <a th:href="@{|/sensors/delete/${sensor.sensorID}|}" class="btn btn-danger btn-sm"
         onclick="return confirm('Are you sure you want to delete  sensor?');">Delete</a>
    </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
